<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>vmt</display-name>
  <session-config>
    <session-timeout>15</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@apjcep01.cpkd3l6dx5jq.ap-southeast-1.rds.amazonaws.com:25881:APJCEP01</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserName</param-name>
    <param-value>VVA_DARC_CNTRL</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>VVADARCCNTRL#P922114</param-value>
  </context-param>
  <listener>
    <listener-class>
            com.monitoring.servlet.ContextDaoListener
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>SfApiName</servlet-name>
    <servlet-class>com.monitoring.servlet.SfApiNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SfApiName</servlet-name>
    <url-pattern>/SfApiName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountryList</servlet-name>
    <servlet-class>com.monitoring.servlet.CountryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryList</servlet-name>
    <url-pattern>/CountryList</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>